
:root{
   --color-accent: #2196F3;
   --color-primary:#212121;
   --color-secondary:#757575;
   --background-secondary:#2F303A;
   --color-secondary-accent:#FFFFFF;
}
body{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}
p, h1, h2, h3,  ul, li{
  margin:0;
  padding:0;
}
.conteiner{
  margin: 0 auto;
  
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid red;  */
  
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.header{
  display:flex;
  /* flex-direction: row; */
  /* padding-top: 80px; */
  border-bottom: 1px solid #ECECEC;
}
.header-logo{  
  display: block;

font-family: 'Raleway';
padding-top: 24px;
padding-bottom: 25px;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #000000;
margin-right: 93px;

}
.span-logo{
    color: #2196F3;
}

.header-list{
  display: flex;

}
.nav-li{
  display: flex;
  margin-left: auto;
 align-items: center;
}

.header-list-item{
font-weight: 500;
line-height: 1.14; 
letter-spacing: 0.02em;
color: var(--color-primary);
}

.header-list-item:focus, .header-list-item:hover{
    color: var(--color-accent);
}
.header-li{
   margin-right: 30px;
   padding-top: 32px;
padding-bottom: 32px;
}
.header-li:nth-child(3){
   margin-right: 0;
}
.header-contact-li{
  margin-right: 30px;
}
.header-contact-li:nth-last-child(1){
  margin-right: 0;
}
.nav{
  /* display: inline-block; */
  display: flex;
 align-items: center;
 /* padding: 25px; */
 margin: 0;

}
.header-contact{
  display:flex;
 margin-left: auto;
 align-items: center;
 align-content: center;


}
.header-contact-list {
  display: flex;
 font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
align-items: center;
/* align-content: center; */
/* padding-top: 32px;
padding-bottom: 32px; */
/* align-content: center; */
fill: var(--color-secondary);
color: var(--color-secondary);
}
.header-contac-list:focus, .header-contact-list:hover{
   color: var(--color-accent); 
   fill: #2196F3;
}
.active-link{
  color: var(--color-accent);
}
.header-link-icon{
 margin-right: 10px;
} 

.header-contact-li{
  /* outline: 1px red solid; */
  display: :flex;
  margin-left: 10px;
  /* text-align: center; */
  /* align-content: flex-end;
 
  align-items: center; */
}
.hero{

  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

background-color: #C4C4C4; 
  color: var(--color-secondary-accent) ;
  /* background-color:var(--background-secondary); */
  height: 600px;
  max-width:1600px;
  margin-left: auto;
  margin-right: auto;
  background-image:linear-gradient(
 
    rgba(47, 48, 58, 0.4), #2F303A66 ), url(../images/HeroIPG\(1\).jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  #2F303A66


  /* margin-bottom: 94px; */
}
.hero-back{
  padding-top: 200px;
  padding-bottom: 200px;

}
.hero-title{
display: block; 
width: 696px;
margin-left: auto;
margin-right: auto;
padding: 0px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
}
.hero-btn{
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--color-secondary-accent);
   background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px; border-color: transparent; 
width: 200px;
height: 50px;
margin-left: auto;
margin-right: auto;
}
/* .feature-cont{
  display: flex;

} */
.feature{
 align-items: center;
 /* outline: 2px solid red; */
padding-bottom: 94px;
padding-top: 94px;
}
.feature-block-item{
flex-basis: calc(( 100% - 30 * 3 )  /4 );
 margin-right: 30px;

}
.feature-block-item:last-child{
   margin-right: 0;
}
.future-link{
  display: flex;
  width: 100%;
/* outline: 2px red solid; */
background-color:#F5F4FA;
margin-bottom: 30px;
padding: 25px 100px;
justify-items: center;
align-content: center;
}

/* .feature-block-item::before{
  display:block;
content:"ghfjjhgfjfhf";
height:120px;
margin-bottom: 30px;
padding: 25px 10px;
background-color:#F5F4FA;

background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-image: url("../images/icon.svg#icon-antenna-1"); 


/* background-image: url(../images/techno\(1\).jpg); */
}
.feature-block-item:nth-child(2)::before{

background-image: url(../images/icon.svg#icon-antenna-1);  */

}
.feature-block{
  display: flex;

}
.feature-title-hidden{
  opacity: 0;  
  font-size: 0
}
.feature-title-item{
     /* width:calc(100%/5-30px);  */
    font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;

color: var(--color-primary)
}
.feature-text-item{
 
/* height: 400px; */
line-height: 1.71;
color: var(--color-secondary)
}
.job{
 padding-bottom: 94px;
}
/* .job-h{
  /* flex-direction: ;
  justify-items: center; 
   ne: 2px solid blue;
} */
.job-item{
flex-basis: calc(( 100% - 30px * 2 ) / 3 );
margin-right: 30px;
/* outline: 2px solid red; */
}
.job-item:last-child{
  margin-right: 0;
}
.job-block{
  display: flex;
 }
.job-title{
 /* display:inline-block; */
   font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
margin-bottom: 50px;

  text-align: center;
  /* justify-items: center;
  justify-content: center;
  margin-left:  auto; 
  margin-right: auto; */
}

.team{
    background-color:#F5F4FA ;
      padding-bottom: 94px; 
       padding-top: 94px;
}
.team-list{
display: flex;
}
.team-title{

    text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
margin-bottom: 50px;
}
.team-item{
  flex-basis: calc((100%-4*30px)/4);
  margin-right: 30px;
  background: #FFFFFF;
  /* outline: 2px solid red; */

/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;


}
.team-item:last-child{

   margin-right:0; 
}
.team-fio{
  font-weight: 500;
font-size: 16px;
line-height: 1.88;
color: var(--color-primary);
 text-align: center;
 margin-bottom: 10px;
 margin-top: 30px;
 
}
.team-text{
font-size: 16px;
line-height: 1.88;
color: var(--color-secondary);
 text-align: center;
 margin-bottom: 16px;
}
.team-social{
  width: 100%;
  margin-bottom: 30px;
}
.team-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #AFB1B8; 
}
.team-social-link:hover, .team-social-link:focus {
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #2196F3;
  fill: #FFFFFF; 
}
.client-s{
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title{
  text-align: center;
  font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;

}
.client{
  display:flex;
}
.client .item{
  display:flex;
    flex-basis: calc(( 1200px - 150px ) / 8 );
    height: 92px;
    min-width: 170px;
    /* border:1px #AFB1B8 solid; */
    /* background-color: #188CE8; */
    /* padding: 16px 32px; */
       margin-right: 30px;
       justify-content: center;
  align-items: center;
  /* fill: #AFB1B8;
  outline: 2px red solid; */
  }
  .client .item:nth-child(6n) {
    flex-basis: calc(( 100% - 150px ) / 6 );
    margin-left: 0;
  }
  .client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border:1px #AFB1B8 solid;
    fill:  #AFB1B8;
  }
  .client-link:hover,  .client-link:focus {

    fill: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 4px;
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

} 
  

  .client .item:hover,  .client .item:focus {
    border: 1px solid #2196F3;
    border-radius: 4px;
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  } 


.footer{
  /* display: flex; */
        background-color:var(--background-secondary);
         /* padding-bottom: 60px; 
       padding-top: 60px; */
       max-width: 1600px;
       margin: 0 auto;
}
.footer-logo{
  display:inline-block;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--color-secondary-accent);
margin-top: 60px;
margin-bottom: 28px;
}
.footer-li:not(:last-child){
  margin-bottom: 12px;
  /* outline: 2px red solid; */
}
.footer-li:last-child{
  margin-bottom: 60px;
} 

.footer-adress{
font-style: normal; 
line-height: 1.71;
color: var(--color-secondary-accent);  
}
.footer-contact{
line-height: 1.75;
color: rgba(255, 255, 255, 0.6); 
}
.footer-s{
  display:flex;
  /* background-color: blue; */
}
.social {
  margin-bottom: 99px;
  /* padding-right: 100px; */
  margin-top: 72px;
  margin-left: 70px;
  /* outline: 2px red solid; */
}
.social p{
  font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-secondary-accent);
margin-bottom: 20px;

}
.social-list{
  display:flex;
  justify-content: center;
  align-items: center;
}
.social-icon{
 height: 44px;
 width: 44px;
 /* outline: 2px red solid; */
 margin-right: 10px;
 /* border-radius: 50%; */
}
.social-icon:last-child{
  margin-right: 0; 
  
}
.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #FFFFFF; 
}

.social-link:hover{
  background: #2196F3;
}
.portfolio{
  margin-top: 94px;
}
.filter{
  display: flex;

  width: 596px;
  height: 54px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 34px;
  padding: 0;

;
}
.portfolio-btn{
display:flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
padding: 0;
}
.menu-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-primary);
background-color: #F5F4FA;
border-radius: 4px;
border-color:transparent;
padding: 6px 22px;
}
.menu-btn:last-child{
  margin-right: 0;
}

.menu-btn:hover,.menu-btn:focus {
color: var(--color-secondary-accent);
background-color:var(--color-accent);

/* shadow-middle */

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}


.portfolio-block{
  display:flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.portfolio-menu-li{
  margin-right: 8px;
}
.portfolio-menu-li:last-child{
  margin-right: 0;
}
.portfolio-block-li{
  flex-basis:calc((100% - 2 * 30px -3 *2px ) / 3 );
margin-right: 30px;
margin-bottom: 30px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
/* display:block;
border-bottom: 1px solid red; */
}
.portfolio-block-li:hover{
  background: #FFFFFF;
  /* border: 1px solid #EEEEEE; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  
}


.portfolio-block-li:nth-child(3n){
margin-right: 0;
}
.portfolio-block-li:nth-last-child(-n+3){
margin-bottom: 0;
}
.portfolio-item-filter{
font-size: 16px;
line-height: 1.88;
margin-bottom: 20px;
margin-left: 24px;
color: var(--color-secondary);
}
.portfolio-item-project{
 font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-primary); 
margin-bottom: 4px;
margin-top: 20px;
margin-left: 24px;
}

